node_modules
dist/index.html
dist/movie_api.59712999.js
dist/movie_api.59712999.js.map
.parcel-cache/314c4ff8b322decb
.parcel-cache/37515c8b5bc9bf6d.txt
.parcel-cache/5ce9eacc6a22bb83
.parcel-cache/5d102dff0a3f4e7e
.parcel-cache/b9964151050d55a0
.parcel-cache/data.mdb
.parcel-cache/data.mdb
